@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Dancing+Script&family=Lobster&display=swap");
:root {
  --violet: #9f6da8;
}

* {
  font-family: "Architects Daughter", cursive;
  /*font-family: "Dancing Script", cursive;
  font-family: "Lobster", cursive;*/
  margin-left: 0;
  padding: 0;
  text-transform: capitalize;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2 linear;
}

*::selection {
  background: var(--violet);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}
/****************************************************************************/
.section {
  padding: 2rem 9%;
}
.btn {
  display: inline-block;
  margin-top: 1rem;
  background: var(--violet);
  color: #fff;
  padding: 0.8rem 3rem;
  border: 0.2rem solid var(--violet);
  cursor: pointer;
  font-style: 1.7rem;
}
.btn:hover {
  background: rgba(50, 5, 59, 0.2);
  color: var(--violet);
}

/******************************************************************************************/
.wrapper {
  /*display: inline-flex;******/

  margin-left: 25px;
  width: 100px;
  height: 350px;
  margin-top: 200px;
  position: fixed;
  border-color: tomato;
  z-index: 2000000;
}

.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 10px;
  height: 10px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}
/****************************************************************************/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
}

header .logo {
  font-size: 4rem;
  font-weight: bolder;
  color: rgb(8, 8, 8);
  text-transform: uppercase;
}

header .logo span {
  color: var(--violet);
}
header .navbar a {
  color: rgb(8, 8, 8);
  font-size: 3rem;
  margin: 0.8rem;
}

header .navbar a:hover {
  color: var(--violet);
}

header .icons i {
  font-size: 2.5rem;
  color: rgb(8, 8, 8);
  cursor: pointer;
  margin-left: 2rem;
}

header .icons i:hover {
  color: var(--violet);
}

header .search-bar-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 1.5rem 2rem;
  background: #333;
  border-top: 1rem solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  z-index: 1001;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

header .search-bar-container.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header .search-bar-container #search-bar {
  width: 100%;
  padding: 1rem;
  text-transform: none;
  color: #333;
  font-size: 1.7rem;
  border-radius: 0.5rem;
}

header .search-bar-container label {
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
  margin-left: 1.5rem;
}

header .search-bar-container label:hover {
  color: var(--violet);
}
/****************************************************************************/
.login-form-container {
  position: fixed;
  z-index: 100000;
  top: -120%;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-form-container.active {
  top: 0;
}
.login-form-container form {
  margin: 2rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background: #fff;
  width: 50rem;
}
.login-form-container form h3 {
  font-size: 3rem;
  color: #444;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 0;
}
.login-form-container form .box {
  width: 98%;
  padding: 1rem;

  font-size: 1.7rem;
  color: #333;
  margin: 0.6rem 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
}
.login-form-container form .box:focus {
  border-color: var(--violet);
}
.login-form-container form #remember {
  margin: 2rem 0;
}
.login-form-container form label {
  font-size: 1.5rem;
}
.login-form-container form .btn {
  display: block;
  width: 100%;
}

.login-form-container form p {
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: #666;
}
.login-form-container form p a {
  color: var(--violet);
}
.login-form-container form p a:hover {
  color: #333;
  text-decoration: underline;
}
.login-form-container #form-close {
  position: absolute;

  top: 2rem;
  right: 3rem;
  font-size: 5rem;
  color: #fff;
  cursor: pointer;
}
/****************************************************************************/
#menu-bar {
  color: #fff;
  border: 0.1rem solid #fff;
  border-radius: 0.5rem;
  font-size: 3rem;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  display: none;
}
.home {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  z-index: 0;
}
.home .img-container img {
  position: absolute;
  top: -1%;
  left: 0;

  z-index: -1;
  height: 102%;
  width: 102%;
  object-fit: cover;
}
/********************************************************************************/
.gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;

  margin-top: 100px;
}
img {
  width: 33.33%;
  transition: 0.8s opacity;
}
/*image hover effect */
div:hover img {
  opacity: 0.3;
}
div:hover img:hover {
  opacity: 1;
  /*box-shadow: 0px 0px 8px #F5F5F5;*/
}
